<section id="newsletter" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center"><span class="text-heading">Be the first to hear about our latest products - including our secret master plan to create a traditional shaving revolution!</span></h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12">
                <!-- Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form
                        action="https://gitpod.us21.list-manage.com/subscribe/post?u=f387d79405b05c07f37b67f87&amp;id=61a6edf174&amp;f_id=00bde5e6f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank">
                        <div id="mc_embed_signup_scroll" class="py-3 font-weight-bold">
                            <div class="text-center font-weight-bold text-lg">
                                <span class="h6">Subscribe to</span>
                                <h2 class="logo-font text-black my-0"><strong class="text-navy">Shavers</strong>Haven</h2>
                                <span class="h6">newsletter!</span>
                            </div>    
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group col-md-8 offset-md-2"><label for="mce-EMAIL">Email Address <span
                                        class="asterisk">*</span></label><input type="email" name="EMAIL"
                                    class="required email form-control" id="mce-EMAIL" required="" value=""></div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text"
                                    name="b_f387d79405b05c07f37b67f87_61a6edf174" tabindex="-1" value=""></div>
                            <div class="text-center">
                                <input type="submit" name="subscribe" class="btn btn-dark mb-3" value="Subscribe">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>