<!-- Footer  -->
<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row py-5">
                <div class="col-12 text-center">
                    <h5><span class="logo-font text-black my-0"><strong class="text-navy">Shavers</strong>Haven</span></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <p class="font-weight-bold  text-uppercase">Get in touch:</p>
                    <a href="https://www.facebook.com/p/Shavers-Haven-100009279080351/" target="_blank"
                        rel="noopener nofollow" aria-label="Visit our Facebook page"
                        class="text-dark"><iconify-icon icon="devicon:facebook" width="20"></iconify-icon>&nbsp;
                          Follow us on Facebook</a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-2 text-center">
                    <p class="font-weight-bold  text-uppercase mt-4 mt-md-0">Subscribe:</p>
                    <a href="{% url 'home' %}#newsletter" class="text-dark">
                        <iconify-icon icon="emojione-monotone:newspaper" width="20"></iconify-icon>&nbsp; Newsletter</a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-2 text-center">
                    <p class="font-weight-bold  text-uppercase mt-4 mt-md-0">About Us:</p>
                    <a href="{% url 'contact_us' %}" class="text-dark">
                        <i class="fa-solid fa-face-smile" style="color: #2f2d2d;"></i>&nbsp; Read our story</a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-2 text-center">
                    <p class="font-weight-bold  text-uppercase mt-4 mt-md-0">Contact Us:</p>
                    <a href="{% url 'contact_us' %}" class="text-dark">
                        <iconify-icon icon="mdi:human-hello-variant" style="color: black;" width="20"></iconify-icon>&nbsp; Say hello!</a>
                </div>
            </div>
            <hr>
            <div class="row py-3">
                <div class="col-12 text-center ">
                    <p><i class="bi bi-c-circle"></i></i>&nbsp; Ian Garrigan &nbsp;<a
                            href="https://github.com/Ian-Garrigan/shavers-haven/" target="_blank" rel="noopener nofollow"
                            aria-label="Visit my Github"><iconify-icon icon="logos:github-icon" width="20"></iconify-icon></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>