<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- List all of the products at once -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Shaving Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- List the lathering category -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"
                id="lathering-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lathering Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shaving-products-link">
                <a href="{% url 'products' %}?category=soaps" class="dropdown-item">Shaving Soaps</a>
                <a href="{% url 'products' %}?category=creams" class="dropdown-item">Shaving Creams</a>
                <a href="{% url 'products' %}?category=soaps,creams" class="dropdown-item">All Lathering Products</a>
            </div>
        </li>
        <!-- List the safety razors category -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href=""
                id="safety-razors">
                Safety Razors
            </a>
        </li>
        <!-- List the razor blades category -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href=""
                id="razor-blades">
                Razor Blades
            </a>
        </li>
        <!-- List the shaving brushes category -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href=""
                id="shaving-brushes">
                Shaving Brushes
            </a>
        </li>
    </ul>
</div>